/* this is a test only for the lesson
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{ 
    background-color: #F0FFFF;
    font-family:roboto condensed, sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
h1{
    font-size: 30px;
    font-weight: bold 700;

}
h2{
    font-size: 24px;
    font-weight: 700;
}
h3{
    font-size: 18px;
    font-weight: 700;
}
a {
    color: #357b70;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}
a:visited {
    /* visited link */
    color: #05676e;
}
a:active {
    /*selected link */
    color: #257b57;
}

button, 
.button {
    /*overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of border, type, color */
    border-bottom: 2px solid rgba (0,0,0,0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
button:hover, button:focus, .button:hover, .button:focus {
/* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button_secondary {
    background-color: #e0b354;
    color: #2b2b2b
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile__portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}


.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    position: static;
    width: 250px;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: flexbox;
}
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.page-header__item:hover {
    opacity: 0.8;
}

.navigation-list {
    list-style-type: none;
}
    .navigation-list li {
    display: inline-block;
    margin-left: 15px;
    }

.grid__item {
    background-color: lightgray;
    padding: 0.3%;
}
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.about-me, .table {
    max-width: 700px;
    margin: 0 auto;    
    text-align: center;
}


@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
@media all and (max-width: 750px) {
    /* shared code */
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
@-webkit-keyframes color-change {
    0% {
        fill:#edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}
@keyframes color-change {
    0% {
        fill:#edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}
.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}
@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;

}