body{ 
    background-color: #F0FFFF;
    font-family:roboto condensed, sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
}
h1{
    font-size: 30px;
    font-weight: bold 700;

}
h2{
    font-size: 24px;
    font-weight: 700;
}
h3{
    font-size: 18px;
    font-weight: 700;
}
a {
    color: #357b70;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}
a:visited {
    /* visited link */
    color: #05676e;
}
a:active {
    /*selected link */
    color: #257b57;
}

button{
    /*overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    /* adds spacing to the buttong (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba (0,0,0,0.3);
}
button:hover, button:focus {
/* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button_secondary {
    background-color: #e0b354;
    color: #2b2b2b
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile__portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    position: static;
    width: 250px;
    height: auto;
    box-sizing: border-box;
    display: flexbox;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}
    .navigation-list li {
    display: inline-block;
    margin-left: 15px;
    }

.grid__item {
    background-color: lightgray;
    padding: 0.3%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.about-me {
    max-width: 700px;
    margin: 0 auto;    
}

